body {
    margin: 0;
}

header,footer {
    background-color: orange;
    color: black;
    overflow: hidden;  
    width: 100%;
}

div#content {
    margin: 30px;
}
section.row {
    background-color: yellow;
}

}
section.col {
    width: 33%;
    float: left;
}
